.settings/*
target/*
.classpath
.project
/build
/target
jdbc.settings
log4j.properties
WebContent/WEB-INF/settings/jdbc.settings
WebContent/WEB-INF/settings/main.settings
WebContent/WEB-INF/settings/sms48.settings
.DS_Store

src/main/resources/log4j2.xml
src/main/resources/tb/apitaxirf/*
