<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.HSQLDialect</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>
		<property name="temp.use_jdbc_metadata_defaults">false</property>

		<property name="hbm2ddl.auto">create-drop</property>

		<mapping resource="tb2014/domain/hibernate/Broker.hbm.xml" />
		<mapping resource="tb2014/domain/hibernate/SimpleTariff.hbm.xml" />
		<mapping resource="tb2014/domain/hibernate/AddressPoint.hbm.xml" />
		<mapping resource="tb2014/domain/hibernate/Requirement.hbm.xml" />
		<mapping resource="tb2014/domain/hibernate/Order.hbm.xml" />
	</session-factory>
</hibernate-configuration>