@CHARSET "UTF-8";

div.mainDiv {
	padding: 5px;
	display: inline-block;;
	width: auto;
	background-color: #EEEEEE;
	border-style: dashed;
	border-color: silver;
	border-width: 1px;
}

div.mainDiv a {
	line-height: 30px;
}

table.mainTable {
	width: 60%;
	border-style: solid;
	border-width: 1px;
	border-spacing: 0px;
	border-collapse: collapse;
}

table.mainTable th {
	cursor: pointer;
	border-style: solid;
	border-width: 1px;
}

table.mainTable td.actionTd {
	border-style: solid;
	border-width: 1px;
}

table.mainTable tr.infoTr>td {
	text-align: center;
}

table.mainTable td.hidden,table.mainTable th.hidden {
	display: none;
}

table.mainTable div.actionTr {
	position: absolute;
	border-style: solid;
	border-width: 1px;
	background-color: white;
}