choosewinner.threads.count=30
choosewinner.repeat.pause=5000
choosewinner.cancelorder.timeout=600000

offerorder.threads.count=30
offerorder.repeat.pause=5000
offerorder.wait.pause=5000

cancelorder.threads.count=10